<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .h}}
        {{.Region}}
                {{range .Hotels}}
                        {{.Name}}<br>
                                {{.Address}}{{.City}}{{.Zip}}
                                {{end}}
{{end}}
</body>
</html>